.DS_Store
.vscode
.rasa/cache
models
.env
.env.development
.env.development.local
.env.production
.env.production.local
.env.local
.env.test
.env.test.local
credentials.yml
results/

__pycache__/
*/__pycache__/
*/.ipynb_checkpoints
*/.pyte
<_io.TextIOWrapper name='<stdout>' mode='w' encoding='utf-8'>